<div id="doc-info">
  Name: <%= @doctor.name %><br>
  Specialty: <%= @doctor.specialty %><br>
  University: <%= @doctor.university %><br>
</div>
<br>
<div id="hospital">
  Hospital: <%= @doctor.hospital_name %>
</div>
<br>
<ul id="patients">
  <% @doctor.doctor_patients.each do |dp| %>
    <div id= "patient-<%= dp.patient.id %>">
      <li><%= dp.patient.name %>
      <%= button_to "Remove from caseload", doctor_doctor_patient_path(@doctor.id, dp.id), method: :delete  %></li>
    </div>
  <% end %>
</ul>